
:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  font-family: "Inter", sans-serif;
  background:rgba(0, 0, 0, 0.986);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4rem 50rem 120rem 4rem;
  grid-template-areas:
    "nav nav"
    "main main"
    "content1 content2"
    "footer footer";
  grid-gap: 0.1rem;
  font-weight: 800;
  text-transform:full-width;
  font-size: 12px;
  text-align: center;
  background:rgba(255, 152, 250, 0);
}
.banerimg{
    width:4vw;
    height: auto;
}
li{
  list-style-type: none;
  object-fit: cover;
}
nav {
  grid-area: nav;
  border-radius: var(--main-raius);
  padding-top: var(--main-padding);
  text-align:center;
  z-index: 2;
  position: sticky;
  top: -18px;
}

.ul1{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
  margin: 0;
  
}
main {
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.backgroundmain{
  background: url(https://i1.wp.com/image7.uhdpaper.com/wallpaper/baby-yoda-the-mandalorian-uhdpaper.com-4K-7.990.jpg);
  background-size: cover;
  z-index: 1;
  filter: blur(5px);
  position: sticky;
  top: -10px;
}
/*
.backgroundmain::after{
  background: url(https://i1.wp.com/image7.uhdpaper.com/wallpaper/baby-yoda-the-mandalorian-uhdpaper.com-4K-7.990.jpg);
  background-size: cover;
  z-index: 1;
  filter: blur(0px);
}
*/


.content1 {
  background:rgb(70, 30, 30);
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  filter: blur(10px);
  position:relative;
  z-index: 3;
}


.content2 {
  background:#6b91ca;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  filter: blur(10px)

}

footer {
  background: #1de9b6;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-align:center;
  position: relative; 
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
  color: bisque;
}

.mentions{
  color: red;
}
@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "footer";
  }
}